# General Exploration

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('nyc_squirrels.txt')

In [4]:
df.head()

,long,lat,unique_squirrel_id,hectare,shift,date,hectare_squirrel_number,age,primary_fur_color,highlight_fur_color,...,approaches,indifferent,runs_from,other_interactions,lat_long,zip_codes,community_districts,borough_boundaries,city_council_districts,police_precincts
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086),NaN,19,4,19,13
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,True,me,POINT (-73.9570437717691 40.794850940803904),NaN,19,4,19,13
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581),NaN,19,4,19,13
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755),NaN,19,4,19,13
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163),NaN,19,4,19,13

In [5]:
df.shape

(3023, 36)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3023 entries, 0 to 3022
Data columns (total 36 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   long                                        3023 non-null   float64
 1   lat                                         3023 non-null   float64
 2   unique_squirrel_id                          3023 non-null   object
 3   hectare                                     3023 non-null   object
 4   shift                                       3023 non-null   object
 5   date                                        3023 non-null   int64
 6   hectare_squirrel_number                     3023 non-null   int64
 7   age                                         2902 non-null   object
 8   primary_fur_color                           2968 non-null   object
 9   highlight_fur_color                         1937 non-null   object
 10  combination_of_primary_and_highlight_color  3023 non-null   object
 11  color_notes                                 182 non-null    object
 12  location                                    2959 non-null   object
 13  above_ground_sighter_measurement            2909 non-null   object
 14  specific_location                           476 non-null    object
 15  running                                     3023 non-null   bool
 16  chasing                                     3023 non-null   bool
 17  climbing                                    3023 non-null   bool
 18  eating                                      3023 non-null   bool
 19  foraging                                    3023 non-null   bool
 20  other_activities                            437 non-null    object
 21  kuks                                        3023 non-null   bool
 22  quaas                                       3023 non-null   bool
 23  moans                                       3023 non-null   bool
 24  tail_flags                                  3023 non-null   bool
 25  tail_twitches                               3023 non-null   bool
 26  approaches                                  3023 non-null   bool
 27  indifferent                                 3023 non-null   bool
 28  runs_from                                   3023 non-null   bool
 29  other_interactions                          240 non-null    object
 30  lat_long                                    3023 non-null   object
 31  zip_codes                                   9 non-null      float64
 32  community_districts                         3023 non-null   int64
 33  borough_boundaries                          3023 non-null   int64
 34  city_council_districts                      3023 non-null   int64
 35  police_precincts                            3023 non-null   int64
dtypes: bool(13), float64(3), int64(6), object(14)
memory usage: 581.7+ KB